<div class="container">
   <mat-sidenav class="sidebar" fixedInViewport opened="true">
      <div class="profile">
         <h1>Paolo Lauria</h1>
         <p>Junior Developer</p>
         <div class="technologies">
            <div class="technology-icon">
                  <a href="https://www.linkedin.com/in/paolo-lauria" target="_blank" rel="noopener"><img src="https://cdn-icons-png.freepik.com/256/10097/10097160.png" alt="LinkedIn"></a>
            </div> 
            <div class="technology-icon">
               <a href="https://github.com/paololauria" target="_blank" rel="noopener"><img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="GitHub"></a>
            </div> 
            <div class="technology-icon">
               <a href="mailto:0paololauria@gmail.com"><img src="https://static.vecteezy.com/system/resources/previews/016/716/465/original/gmail-icon-free-png.png" alt="Gmail"></a>
            </div>
         </div>
      </div>
      <button mat-raised-button color="accent" class="sidebar-button" routerLink="/about" routerLinkActive="router-link-active">Profilo</button>
      <button mat-raised-button color="accent" class="sidebar-button" routerLink="/education" routerLinkActive="router-link-active">Formazione</button>
      <button mat-raised-button color="accent" class="sidebar-button" routerLink="/skills" routerLinkActive="router-link-active">Skills</button>
      <button mat-raised-button color="accent" class="sidebar-button" routerLink="/portfolio" routerLinkActive="router-link-active">Progetti</button>
      <mat-divider></mat-divider>
   </mat-sidenav>
</div>
