.container {
  display: grid;
  grid-template-columns: 400px 1fr;
}

.app-menu {
  grid-area: 1 / 1;
  background-color: #f0f0f0;
  position: sticky;
  top: 0;
  margin-left: 0;
  padding: 20px;
  margin-bottom: 20px;
}

main {
  grid-area: 1 / 2;
}

@media (max-width: 910px) {
  .container {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .app-menu {
    display: block;
    margin-bottom: 20px;
  }

  main {
    grid-area: 2 / 1;
  }
}
