<div class="section-2">
  <h2>Profilo 🚀</h2>
  <p>
    Sono un <strong>giovane sviluppatore</strong> appassionato di tecnologia con
    una solida base nel campo della programmazione.
  </p>
  <p>
    Laureato in <strong>Scienze della Comunicazione</strong> presso l'Università
    degli Studi di Firenze, ho integrato la mia formazione con una
    specializzazione in <strong>Digital Marketing</strong>, arricchendo così il
    mio bagaglio professionale con competenze digitali rilevanti.
  </p>
  <p>
    La mia sete di conoscenza e il desiderio di affrontare sfide più tecniche mi
    hanno spinto a intraprendere un
    <strong>corso intensivo di programmazione</strong> presso Generation Italy,
    dove ho acquisito competenze solide in diverse tecnologie chiave:
  </p>
  <div class="technologies">
    <div class="technology">
      <img
        src="https://cdn.iconscout.com/icon/free/png-256/java-43-569305.png"
        alt="Spring"
        class="round-image"
      />
      <p><strong>Java</strong></p>
    </div>
    <div class="technology">
      <img
        src="https://cdn.freebiesupply.com/logos/large/2x/spring-3-logo-png-transparent.png"
        alt="Docker"
        class="round-image"
      />
      <p><strong>Spring</strong></p>
    </div>
    <div class="technology">
      <img
        src="https://cdn.iconscout.com/icon/free/png-256/typescript-1174965.png"
        alt="JavaScript"
        class="round-image"
      />
      <p><strong>TypeScript</strong></p>
    </div>
    <div class="technology">
      <img
        src="https://angular.io/assets/images/logos/angular/angular.png"
        alt="Angular"
        class="round-image"
      />
      <p><strong>Angular</strong></p>
    </div>
  </div>
  <p>
    La mia passione per la tecnologia è il motore che alimenta la mia
    determinazione a creare soluzioni innovative e significative. Sono
    costantemente
    <strong>alla ricerca di nuove sfide e opportunità di crescita</strong>,
    prontissimo ad affrontare con audacia e impegno le complessità del mondo
    dello <strong>sviluppo software</strong>. Sono convinto che ogni ostacolo
    sia un'opportunità per imparare e crescere, e non vedo l'ora di trasformare
    le mie ambizioni in realtà tangibili, contribuendo così al
    <strong>progresso e all'innovazione nel settore tecnologico</strong>.
  </p>
</div>
