<div class="section-2">
  <h2>Profilo ✍🏼</h2>
  <p>Sono un giovane sviluppatore con una conoscenza del framework Spring per il backend e Angular per il frontend.</p>
  <p>Laureato in Scienze della Comunicazione presso l'Università degli Studi di Firenze, ho arricchito il mio percorso professionale con una specializzazione in Digital Marketing, aggiungendo competenze digitali significative alla mia formazione di base. Il mio interesse per la tecnologia e il desiderio di abbracciare sfide più tecniche mi hanno spinto a intraprendere un corso intensivo di programmazione.</p>
  <p>Durante questo corso, ho acquisito competenze solide nello sviluppo software, approfondendo tematiche legate a Java, Spring, Angular, Docker, SQL, TypeScript, HTML e CSS.</p>
  <p>Con entusiasmo, ho abbracciato la sfida di diventare uno sviluppatore e ora sono pronto a portare la mia determinazione attiva nel mondo dello sviluppo software.</p>
</div>
