.section-2 {
  font-family: "Red Hat Display", sans-serif;
  width: 70%;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.406);
  margin: 20px auto;
  max-width: 800px;
}

.section-2 h2 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: #ffd740;
  border: 1px solid #0f172a;
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 12px;
  background-color: #0f172a;
}

.section-2 p {
  font-family: "Urbanist", sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 1.4rem;
  color: black;
}

.section-2 h3 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.project-card {
  min-width: 200px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s; /* Aggiunto per creare una transizione fluida */
}

.project-card:hover {
  transform: scale(1.05); /* Ingrossa la card al passaggio del mouse */
}

.project-image {
  max-width: 100%;
  max-height: auto;
  border-radius: 8px 8px 0 0;
}

.project-details {
  padding: 20px;
}

.project-details h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  padding: 5px;
}

.project-details h3:hover {
  color: #ffd740;
  background-color: #0f172a;
  border-radius: 12px;
  max-width: fit-content;
  transition: color 0.7s, background-color 0.3s;
}

.project-details p {
  margin-bottom: 1rem;
}

.project-links a {
  display: inline-block;
  margin-right: 10px;
  color: #007bff;
}

.project-links a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .project-grid {
    grid-template-columns: 1fr;
  }

  .project-card {
    width: 100%;
  }
}

.project-card {
  min-width: 200px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.project-links {
  display: flex;
  justify-content: center;
}

.project-link {
  margin-right: 10px;
}

.project-icon {
  border: 1px solid #0f172a;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}

.project-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-icon:hover {
  transform: scale(1.2);
}
